#encoding: UTF-8
.row
  .large-12.columns
    %h1.headings.text-center Our Philosophy
    %hr
    %p
    We believe that every child is different, special, and unique and will be treated as such. All children deserve a safe secure and wholesome learning environment. At Love and Laughter Playschool we aim to be a happy place where children laugh play have fun and where children can be children. We offer opportunities to explore, investigate, experiment and participate in shaping the learning environment.

    %p
    We believe that the first years of a child's life are of critical importance, both to their immediate well-being and to their future. There are the foundation for all intellectual and emotional development. We take great care to provide warm, affectionate and responsive relationships that surround all young children.

    %p
    We aim to provide a place where children know that they are accepted, loved, protected, and wanted with an objective to create a sense of belonging, where children can develop self-confidence, feel valued and connected to others and develop relationships

    %p
    I understand how difficult it must be to leave your child in someone else's care. I appreciate the trust you put in us by leaving your most treasured gifts with me on a daily basis. And our goal is to build your trust by being professional, honest and caring for your child the same way we would want our own children to be cared for.

    %p
    I believe that good communication between parents and provider is very important part of a quality childcare.  We  are committed to creat a strong bond with you and your child, helping to ensure the best start to your child's life.