Hi
= @user.name
%br

%p
  Thanks for joining Love and Laughter playschool family.
%p
You can update your child profile on our website loveandlaughter.playschool.com. Once you will update your child profile, you can view all the photos, videos and weekly messages related to your child progress.
%br
%br
Cheers,
%br
Neeta
%br
%address
Love and Laughter Playschool
%br
  899 Rubis Drive
  %br
    Sunnyvale, California - 94087
    %br
    (408) 689 2125
