%p Please give us your feedback, your feedback will be completely anonymous.
%p Submit your feedback #{link_to 'here', 'https://docs.google.com/forms/d/1WiZes188VT-w7AAcA6Rg49-nEP02R4L7c_7Z1MbRNug/viewform?c=0&w=1'}