Hi
= @user.name
%p Message from Love And Laughter Playschool
= raw @content
%address
Love and Laughter Playschool
%br
  899 Rubis Drive
  %br
    Sunnyvale, California - 94087
    %br
    (408) 689 2125
%p loveandlaughterplayschool.com